{
  "extends": ["standard", "plugin:vue/recommended", "prettier", "prettier/standard"],
  "plugins": ["standard", "prettier"],
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 2018,
    "allowImportExportEverywhere": true
  },
  "globals": {
    "require": true,
    "global": true,
    "process": true
  }
}
