@import url(reset.css);
@import url(vars-include.css);

body {
  background: #333;
  font-family: var(--font-primary);
}
.app {
  max-width: 640px;
  margin: 24px auto 0;
  padding: 0 16px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #999;
}
h1,
h2 {
  font-weight: 500;
}

a {
  color: #42b983;
}
