@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

@import url(vars-include.css);

body {
  background: var(--color-background);
}

.app {
  max-width: 640px;
  margin: 24px auto 0;
  padding: 0 16px;
  color: var(--color-font);
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--color-link);
}
