:root {
  --font-primary: 'Open Sans', sans-serif;

  --font-fiftyfour: {
    font-size: 54px;
    line-height: 64px;
    letter-spacing: -0.64px;
  }

  --font-thirtysix: {
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.64px;
  }

  --font-thirty: {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.64px;
  }

  --font-twentyfour: {
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.32px;
  }

  --font-twenty: {
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0;
  }

  --font-sixteen: {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
  }

  --font-fourteen: {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
  }

  --font-tweleve: {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.3px;
  }

  --font-ten: {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.3px;
  }
}
