:root {
  --color-1: #f5f8f7;
  --color-2: #f4bf76;
  --color-3: #ee6b2a;
  --color-4: #f59748;
  --color-5: #6a4744;

  --color-1b: #f9f8f9;
  --color-2b: #a9bac8;
  --color-3b: #40a8e7;
  --color-4b: #e6a756;
  --color-5b: #332123;

  --color-1c: #ebe9eb;
  --color-2c: #58aabd;
  --color-3c: #86d556;
  --color-4c: #747e8b;
  --color-5c: #243d4d;

  --color-1d: #f0f2ec;
  --color-2d: #95acb8;
  --color-3d: #f4a736;
  --color-4d: #ad6436;
  --color-5d: #3a4052;

  --color-primary: var(--color-1);
  --color-secondary: var(--color-3);
  --color-primary-accent: var(--color-4);
  --color-secondary-accent: var(--color-2);

  --color-font: var(--color-primary);
  --color-background: var(--color-5);
  --color-link: var(--color-primary-accent);
}
